@model ReficioSolution.Models.ServiceFormViewModel

@{
    ViewData["Title"] = "ServiceOrderConnector";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServiceOrderConnector</title>
    <link rel="stylesheet" href="css/ServiceOrderConnector.css">
</head>

<body>
    <div class="container mt-4">
        <h2>Service Form Details for @Model.Customer</h2>
        <hr class="divider">
            
        <div class="row">
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-4">Ordre Nummer:</dt>
                    <dd class="col-sm-8">@Model.OrderNumber</dd>
                        
                    <dt class="col-sm-4">Customer:</dt>
                    <dd class="col-sm-8">@Model.Customer</dd>
                        
                    <dt class="col-sm-4">Email:</dt>
                    <dd class="col-sm-8">@Model.Email</dd>
                        
                    <dt class="col-sm-4">Telefonnummer:</dt>
                    <dd class="col-sm-8">@Model.Phone</dd>
                
                    <dt class="col-sm-4">Address:</dt>
                    <dd class="col-sm-8">@Model.Address</dd>
                        
                    <dt class="col-sm-4">Received Date:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => Model.DateReceived)</dd>
                </dl>
            </div>
            <!-- If you have more details, you can add more columns or make a single column layout -->
        </div>
    </div>

    <div>
        <div class="flex-box full-width">
            <a class="btn btn-primary" asp-area="" asp-controller="FilledOutServiceForm" asp-action="Index" asp-route-id="@Model.ServiceFormId">Se Serviceskjema</a>
            <a class="btn btn-primary" asp-area="" asp-controller="FilledOutCheckList" asp-action="Index" asp-route-id="@Model.">Se Sjekkliste</a>
        </div>
    </div>

</body>
